<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146116570-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146116570-1');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I Play On Cardboard- Erik Hurst Development Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    
<!-- Nav -->
    <nav class="navbar">
        <div class="nav-item">
            <a class="nav-link" href="/">Erik C Hurst</a>
        </div>

         <div class="nav-item">
                <a class="" href="https://www.linkedin.com/in/erik-hurst-93437513/" target="_blank"><img class="nav-icon" src="./assets/images/linkedInIcon.png"></a>
        </div>

        <div class="nav-item">
            <a class=" " href="https://github.com/iplayoncardboard" target="_blank"><img class="nav-icon" src="./assets/images/gitHubIcon.png"></a>
        </div>
        
        <div class="nav-item">
            <a class="" href="https://stackoverflow.com/users/8921377/erik-hurst" target="_blank"><img class="nav-icon" src="./assets/images/stackOverflowIcon.png"></a>
        </div>

       
                

        <div class="nav-item">
            <a class="nav-link" href="/portfolio">My Work</a>
        </div>
         <div class='nav-item'>
            <a class="nav-link" target="_blank"     href="./assets/files/ErikHurstResume.pdf">Resume</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/contact">Let's Chat</a>
        </div>
       
                 
      </nav>    
    <div class="wrapper">
        
            {{{body}}}
        
    </div>
    <footer class="footer"><div class="text-center bg-secondary text-white ">Copyright &copy; Erik Hurst 2018</div></footer>
    <script src="./assets/js/app.js" type="text/javascript"></script>
    
</body>




</html>