  <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    
                    <!-- Form goes here -->
                    <form action="#" method="POST" class="mb-3">
                        <div class="form-group">
                            <label for="contactName">Name</label>
                            <input type="text" class="form-control" id="contactName" placeholder="Your name">
                        </div>
                       <div class="form-group">
                           <label for="contactEmail">Email</label>
                            <input type="email" id="contactEmail" class="form-control" placeholder="example@email.com" > 
                       </div>
                       <div class="form-group">
                            <label for="contactMessage">Message</label>
                            <textarea class="form-control" id="contactMessage" placeholder="Message..."></textarea>
                       </div>
                       <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>

                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                    <div class="container bg-light p-md-3">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-center mb-md-4">Connect With Me</h2>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">   
                                    <a href="https://github.com/iplayoncardboard" target="_blank"><img src="./assets/images/gitHubIcon.png" class="img-fluid rounded"></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">   
                                    <a href="https://www.linkedin.com/in/erik-hurst-93437513/" target="_blank"><img src="./assets/images/linkedInIcon.png" class="img-fluid rounded"></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">
                                <a href="https://stackoverflow.com/users/8921377/erik-hurst" target="_blank"><img src="./assets/images/stackOverflowIcon.png" class="img-fluid rounded"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>