  
  <div class="contact">
                <div class="contact-form">
                    <form action="mailto:iplayoncardboard@gmail.com" method="POST" class="mb-3">
                        <div class="form-group">
                            <label for="contactName">Name</label>
                            <input type="text" class="form-input" id="contactName" placeholder="Your name">
                        </div>
                       <div class="form-group">
                           <label for="contactEmail">Email</label>
                            <input type="email" id="contactEmail" class="form-input" placeholder="example@email.com" > 
                       </div>
                       <div class="form-group">
                            <label for="contactMessage">Message</label>
                            <textarea class="form-input" id="contactMessage" placeholder="Message..."></textarea>
                       </div>
                       <div class="g-recaptcha" data-sitekey="6Ld_nFwUAAAAANQYh1ExkbEPLugz3dYJjoL6Avlg"></div>
                       <button type="submit" class="btn-submit">Submit</button>
                    </form>
                </div>

                <div class="contact-links">
                    <h2>Connect With Me</h2>

                    <div class="contact-container">
                        <h4>LinkedIn</h5>
                        <a href="https://www.linkedin.com/in/erik-hurst-93437513/" target="_blank"><img src="./assets/images/linkedinpaper.png" class="contact-img"></a>
                    </div>

                    <div class="contact-container">
                        <h4>Git Hub</h5>
                        <a href="https://github.com/iplayoncardboard" target="_blank"><img src="./assets/images/githubpaper.png" class="contact-img"></a>
                    </div>
{{!--                   
                    <div class="contact-container">
                        <h4>Stack Overflow</h5>
                        <a href="https://stackoverflow.com/users/8921377/erik-hurst" target="_blank"><img src="./assets/images/stackoverflowpaper.png" class="contact-img"></a>
                    </div> --}}
                </div>
            
  </div>
  
  
  
 