 <div class="container"> 

     <div id="intro-card" class="card">
         <p>
             Hi I'm Erik,<br>I am a full stack developer, Certified Scrum Professional, Dungeon Master, and board game addict.
         </p>
     </div>

    <div id ="dev-card" class="card">
        <p>Developer</p>
    </div>

    <div id ="scrum-card" class="card">
        <p>Scrum Master</p>
    </div>

    <div id ="game-card" class="card">
        <p>Tabletop Enthusiast</p>
    </div>

 </div>
