 <div class="container"> 
    <div id ="dev-card" class="card">
        <p>Developer</p>
    </div>

    <div id ="scrum-card" class="card">
        <p>Scrum Master</p>
    </div>

    <div id ="game-card" class="card">
        <p>Tabletop Enthusiast</p>
    </div>

 </div>
