 <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="jumbotron bg-light">
                            <h1 class="display-4">About</h1>
                            <hr class="my-4">
                                <img src="./assets/images/profile_pic_thumb.jpg" alt="profile picture" class="img-fluid rounded">
                            <hr class="my-4">
                            <p>
                                I am a full stack developer with a business and social science background. I spend my days as a Scrum Master and my nights working with HTML, CSS, and JavaScript. I am a recovering Project Manager with over 7 years in the industry, 3 of which utilized agile frameworks and methods. I have a humanistic value centered approach to software development. I will work with you to provide a foundation of working software to your early adopters and partner with you to identify and implement valuable feedback driven features that align with your business goals.
                            </p>
                            <p>
                                When I am not developing software or at a JavaScript meetup you will most likely find me playing a tabletop game of some kind. I am an avid tabletop gamer, both board games and RPGs, and involved in the tabletop community.
                            </p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="./contact.html" role="button">Reach out</a>
                            </p>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                    <div class="container bg-light p-md-3">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-center mb-md-4">Connect With Me</h2>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">   
                                    <a href="https://github.com/iplayoncardboard" target="_blank"><img src="./assets/images/gitHubIcon.png" class="img-fluid rounded"></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">   
                                    <a href="https://www.linkedin.com/in/erik-hurst-93437513/" target="_blank"><img src="./assets/images/linkedInIcon.png" class="img-fluid rounded"></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">
                                <a href="https://stackoverflow.com/users/8921377/erik-hurst" target="_blank"><img src="./assets/images/stackOverflowIcon.png" class="img-fluid rounded"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>