 <div class="container"> 
    <div id ="dev-card" class="card">
        <p><a href="/portfolio">Developer</a></p>
    </div>

    <div id ="scrum-card" class="card">
        <p><a class="" target="_blank" href="https://scrumalliance.org/community/profile/ehurst3 ">Scrum Master</a></p>
    </div>

    <div id ="game-card" class="card">
        <p>Tabletop Enthusiast</p>
    </div>

 </div>
