  <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    
                    <!-- Carosel goes here -->
                
                    <div id="projectCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                                <div class="carousel-item bg-light">
                                        <a href="https://iplayoncardboard.github.io/bamazon/" target="_blank">
                                            <img src="./assets/images/capture1.PNG" alt="Bamazon"> 
                                            <div class="carousel-caption d-none d-md-block">
                                            <h5 class="bg-dark text-light">Place an order 1978 style... with the command line!</h5>
                                            <p class="bg-dark text-light">A simple command driven application using NodeJS, MySQL, and Inquirer.</p>
                                            </div>
                                        </a>
                                    </div>
                          <div class="carousel-item bg-light">
                            <a href="https://github.com/iplayoncardboard/lalexa-node-app" target="_blank">
                                <img src="./assets/images/lalexa2.png" alt="Lalexa"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">Lalexa</h5>
                                <p class="bg-dark text-light">Node Command Line App using PM, Titter, Spotify, and OMDB apis</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item active bg-light ">
                            <a href="https://github.com/iplayoncardboard/DMTools" target="_blank">
                                <img src="./assets/images/brand2.png" alt="GMTK Logo"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">Game Master Tool Kit</h5>
                                <p class="bg-dark text-light">A tabletop RPG management tool built using NodeJS, Express, and Mongo</p>
                                </div>
                            </a>
                          </div>
                          <div class="carousel-item">
                                <a href="https://thawing-thicket-75008.herokuapp.com/" target="_blank">
                                    <img src="./assets/images/gameFinder2.png" alt="Game Group Finder Logo" style="opacity:.5;"> 
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5 class="bg-dark text-light">Game Group</h5>
                                    <p class="bg-dark text-light">A web page that uses Node, Express, Heroku, and Bootstrap to find the perfect board game buddy</p>
                                    </div>
                                </a>
                          </div>
                          
                          <div class="carousel-item bg-light">
                                <a href="https://iplayoncardboard.github.io/Hangman-Game/" target="_blank">
                                    <img src="./assets/images/hangman2.png" alt="Hangman Image"> 
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5 class="bg-dark text-light">Xanathar's Guide to Hanging Men</h5>
                                    <p class="bg-dark text-light">Hangman game made using JavaScript and CSS Grid.</p>
                                    </div>
                                </a>
                          </div>
                       
                         <div class="carousel-item">
                                <a href="https://github.com/iplayoncardboard/Project2" target="_blank">
                                    <img src="./assets/images/fablib2.png" alt="FabLibs" style="opacity:.5;"> 
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5 class="bg-dark text-light">FabLibs</h5>
                                    <p class="bg-dark text-light">A fabulously fun word game app for parties!</p>
                                    </div>
                                </a>
                          </div>
                        <div class="carousel-item bg-light">
                            <a href="https://iplayoncardboard.github.io/week-4-game/" target="_blank">
                                <img src="./assets/images/starfinder2.png" alt="Starfinder RPG Image"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">Starfinder RPG</h5>
                                <p class="bg-dark text-light">Shownig off the DOM manipulation skills through a simple combat game using jQuerry.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item bg-light">
                            <a href="https://iplayoncardboard.github.io/TriviaGame/" target="_blank">
                                <img src="./assets/images/bobRoss2.png" alt="Bob Ross Trivia Image"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">Bob Ross Trivia</h5>
                                <p class="bg-dark text-light">Bob Ross trivia game using interval and timeout timer functionality.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item bg-light">
                            <a href="https://iplayoncardboard.github.io/GiphyAPI/" target="_blank">
                                <img src="./assets/images/giphy2.png" alt="Retro 90s Gif Image"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">90's Themed Giphy API</h5>
                                <p class="bg-dark text-light">Sends dynamic queries to the  Giphy API to get gif images. 21st century technology wrapped in a 90's theme.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item bg-light">
                            <a href="https://iplayoncardboard.github.io/Train-Scheduler/" target="_blank">
                                <img src="./assets/images/pills2.png" alt="Medication Scheduler"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">50's Themed Medication Scheduler</h5>
                                <p class="bg-dark text-light">This application uses firebase to dynamicly store / dispaly information from multiple users. Calculations are performed client side.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item bg-light">
                            <a href="https://iplayoncardboard.github.io/grubquest/" target="_blank">
                                <img src="./assets/images/grubQuest2.png" alt="Grub Quest"> 
                                <div class="carousel-caption d-none d-md-block">
                                <h5 class="bg-dark text-light">Can't decide what to eat? We can help</h5>
                                <p class="bg-dark text-light">This application uses APIs from Uber, Mapquest, and Foursquare along with several external JS libraries to make finding your next meal easy as pie...or hotdogs.. or whatever you want!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>

                        <a class="carousel-control-prev" href="#projectCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#projectCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>

                      </div>
                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                    <div class="container bg-light p-md-3">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-center mb-md-4">Connect With Me</h2>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">   
                                    <a href="https://github.com/iplayoncardboard" target="_blank"><img src="./assets/images/gitHubIcon.png" class="img-fluid rounded"></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">   
                                    <a href="https://www.linkedin.com/in/erik-hurst-93437513/" target="_blank"><img src="./assets/images/linkedInIcon.png" class="img-fluid rounded"></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 align-self-center">
                                <a href="https://stackoverflow.com/users/8921377/erik-hurst" target="_blank"><img src="./assets/images/stackOverflowIcon.png" class="img-fluid rounded"></a>
                            </div>
                        </div>
                    </div>
                </div>