  <div class="image-grid">
      <div class="project">
          <div class="image-container">
              <a href="https://iplayoncardboard.github.io/Hangman-Game/" target="_blank"><img src="./assets/images/hangman2.png" alt="Hangman Project"></a>
          </div>
          <div class="project-content">
              <h4 class="project-title">Xanathar's Guide to Hanging Men</h4>
              <p class="project-description">Hangman game made using JavaScript and CSS Grid.</p>
          </div>
      </div>

    <div class="project">
          <div class="image-container">
              <a href="https://github.com/iplayoncardboard/Project2" target="_blank"><img src="./assets/images/FabLib2.png" alt="Giphy API Project"></a>
          </div>
          <div class="project-content">
              <h4 class="project-title">Fab Libs</h4>
              <p class="project-description">A fabulously fun word game app for parties!</p>
          </div>
      </div>

<div class="project">
          <div class="image-container">
              <a "href=https://iplayoncardboard.github.io/TriviaGame/" target="_blank"><img src="./assets/images/bobRoss2.png" alt="Bob Ross Trivia Project"></a>
          </div>
          <div class="project-content">
              <h4 class="project-title">Bob Ross Trivia</h4>
              <p class="project-description">Bob Ross trivia game using interval and timeout timer functionality.</p>
          </div>
      </div>


      <div class="project">
          <div class="image-container">
              <a href="https://iplayoncardboard.github.io/GiphyAPI/" target="_blank"><img src="./assets/images/giphy2.png" alt="Giphy API Project"></a>
          </div>
          <div class="project-content">
              <h4 class="project-title">90's Themed Giphy API</h4>
              <p class="project-description">Sends dynamic queries to the Giphy API to get gif images. 21st century technology wrapped in a 90's theme.</p>
          </div>
      </div>

       <div class="project">
          <div class="image-container">
              <a href="https://iplayoncardboard.github.io/grubquest/" target="_blank"target="_blank"><img src="./assets/images/grubQuest2.png" alt="Grub Quest"></a>
          </div>
          <div class="project-content">
              <h4 class="project-title">GrubQuest</h4>
              <p class="project-description">Can't decide what to eat? We can help! This application uses APIs from Uber, Mapquest, and Foursquare along with several external JS libraries to make finding your next meal easy as pie...or hotdogs.. or whatever you want!</p>
          </div>
      </div>

  </div>
